@using Microsoft.AspNetCore.Identity
@using SOH.Web.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
public string GetAntiXsrfRequestToken()
{
    return Xsrf.GetAndStoreTokens(Context).RequestToken;
}
}
@if (SignInManager.IsSignedIn(User))
{
    <input type="hidden" id="RequestVerificationToken"
           name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

    <li class="nav-item">
        <a asp-page="/Admin/Index" class="btn btn-link navbar-btn nav-link" style="color: white !important">Admin</a>
    </li>
    <li class="nav-item">
        <button id="logoutButton" type="submit" class="btn btn-link navbar-btn nav-link"
                style="color: white !important">
            Log out
        </button>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-page="/Account/Register" class="nav-link">Register</a>
    </li>
    <li class="nav-item">
        <a asp-page="/Account/Login" class="nav-link">Log in</a>
    </li>
}
