@page
@model SOH.Web.Pages.BlogModel
@{
    ViewData["Title"] = "Blog";
    ViewData["NavClass"] = "top-nav-collapse";
}

@section Styles {
    <style>
        body {
            padding-top: 50px;
        }
    </style>
}


<div class="purple lighten-5" style="height:100vh;">
    <h1>BLOG</h1>

    <div class="container">
        @foreach (var post in Model.Posts)
        {
            <div class="text-center">
                <h3>@post.Title</h3>
                <p class="lead">
                    @post.Content
                </p>
            </div>

        }
    </div>
</div>



