@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Styles {
    <style type="text/css">

        .top-nav-collapse {
            background-color: #563e91 !important;
        }

        .navbar:not(.top-nav-collapse) {
            background: transparent !important;
        }

        @@media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #563e91 !important;
            }
        }

        .rgba-gradient {
            background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
            background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
            background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
        }

        video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <style type="text/css">
        /* Chart.js */
        @@-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        @@keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
}


@section Header {
    <!-- Video -->
    <section class="view">
        <video poster="https://mdbootstrap.com/img/Photos/Others/background.jpg"
               playsinline autoplay muted loop>
            <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
        </video>
        <div class="full-bg-img">
            <div class="mask rgba-gradient">
                <div class="container flex-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 white-text text-center smooth-scroll">
                            <div class="wow fadeInDown" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeInDown; animation-delay: 0.2s;">
                                <h3 class="display-3 font-weight-bold white-text mb-2">The Big Title</h3>
                                <hr class="hr-light my-4">
                                <h4 class="subtext-header mt-2 mb-4">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur, nihil
                                    voluptatem.
                                </h4>
                            </div>
                            <a href="#about" data-offset="90" class="btn btn-rounded btn-outline-white wow fadeInUp waves-effect waves-light" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 0.2s;">
                                <i class="fa fa-home"></i> Visit us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


<div class="container">

    <!--Grid row-->
    <div class="row py-5">

        <!--Grid column-->
        <div class="col-md-12 text-center">

            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>

<div class="container">
    <div class="divider-new mt-5 mb-4">
        <h2 class="h3-responsive">
            <strong>Section 1</strong>
        </h2>
    </div>
    <!--Fetch upcoming events here-->
</div>


<div class="container">
    <div class="divider-new mt-5 mb-4">
        <h2 class="h3-responsive">
            <strong>Section 2</strong>
        </h2>
    </div>
    <!--Fetch What's Hapenning posts here-->
</div>

<div class="container">
    <div class="divider-new mt-5 mb-4">
        <h2 class="h3-responsive">
            <strong>Section 3</strong>
        </h2>
    </div>
</div>

<!--Section: Products v.2-->
<div class="container">
    <div class="divider-new mt-5 mb-4">
        <h2 class="h3-responsive">
            <strong>Section 4</strong>
        </h2>
    </div>
    <section class="text-center pb-3 my-5">
        <!--Section heading-->
        @*<h1 class="font-weight-bold text-center h1 py-5">Our bestsellers</h1>*@
        <!--Section description-->
        <p class="grey-text pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-3">
                <!--Card-->
                <div class="card card-cascade wider card-ecommerce">
                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg" class="img-fluid" alt="sample photo">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card image-->
                    <!--Card content-->
                    <div class="card-body text-center no-padding">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Camera</h5>
                        </a>
                        <h4 class="card-title">
                            <strong>
                                <a href="">GoPro</a>
                            </strong>
                        </h4>
                        <!--Description-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</p>
                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="float-left font-weight-bold">
                                <strong>1439$</strong>
                            </span>
                            <span class="float-right">
                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                    <i class="fa fa-eye grey-text ml-3"></i>
                                </a>
                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                    <i class="fa fa-heart grey-text ml-3"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-3">
                <!--Card-->
                <div class="card card-cascade wider card-ecommerce">
                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(49).jpg" class="img-fluid" alt="sample photo">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card image-->
                    <!--Card content-->
                    <div class="card-body text-center no-padding">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Photography</h5>
                        </a>
                        <h4 class="card-title">
                            <strong>
                                <a href="">Camera</a>
                            </strong>
                        </h4>
                        <!--Description-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</p>
                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="float-left font-weight-bold">
                                <strong>1160$</strong>
                            </span>
                            <span class="float-right">
                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                    <i class="fa fa-eye grey-text ml-3"></i>
                                </a>
                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                    <i class="fa fa-heart grey-text ml-3"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-3">
                <!--Card-->
                <div class="card card-cascade wider card-ecommerce">
                    <!--Card image-->
                    <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="sample photo">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--Card image-->
                    <!--Card content-->
                    <div class="card-body text-center no-padding">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Smartphone</h5>
                        </a>
                        <h4 class="card-title">
                            <strong>
                                <a href="">iPhone 6S</a>
                            </strong>
                        </h4>
                        <!--Description-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit.</p>
                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="float-left font-weight-bold">
                                <strong>2160$</strong>
                            </span>
                            <span class="float-right">
                                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                                    <i class="fa fa-eye grey-text ml-3"></i>
                                </a>
                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                    <i class="fa fa-heart grey-text ml-3"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!--Card content-->
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
</div>
<!--Section: Products v.2-->
