@page
@model SOH.Web.Pages.Post.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["NavClass"] = "top-nav-collapse";
}

@section Styles
    {
    <style>
        body {
            padding-top: 100px;
        }
    </style>
}
<div class="container">
    <h2>Create</h2>

    <h4>Post</h4>
    <hr />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Post.Title" class="control-label"></label>
                    <input asp-for="Post.Title" class="form-control" />
                    <span asp-validation-for="Post.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Post.Content" class="control-label"></label>
                    <textarea asp-for="Post.Content" class="form-control" cols="40" rows="8"></textarea>
                    @*<input asp-for="Post.Content" class="form-control" style="height:200px;"/>*@
                    <span asp-validation-for="Post.Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Post.ImageId" class="control-label"></label>
                    <a href="~/Image/Create" id="addButton" class="btn btn-sm btn-outline-blue-grey">
                        <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
                        Add image
                    </a>
                    <select asp-for="Post.ImageId" class="form-control" asp-items="ViewBag.ImageId"></select>
                </div>
                @*<div class="form-group">
                    <label asp-for="Post.ApplicationUserId" class="control-label"></label>
                    <input asp-for="Post.ApplicationUserId" class="form-control" />
                    <span asp-validation-for="Post.ApplicationUserId" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
